@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro',Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
header ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin:0;
  padding:5px;
}
header ul li {
  margin-left: 15px;
}
header img {
  border-radius: 50%;
}

main {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.search-container {
  width: 40%;
  margin: 1em auto;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.search-container:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15); 
}
.search-container input {
  background: transparent;
  border: 0;
  color: #fff;
  width: 250px;
  outline: none;
  line-height: 25px;
}
.search-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
}
.search-button {
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
}
.microphone-button { 
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}
.microphone-button svg {
  width: 20px;
  height: 20px;  
}
.suggestions {  
  border-top: 0px solid red;
  display: none;
  margin: 0;
  padding: 0;
}
.suggestions h4 {
  border-top: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px;
}
.suggestions > div {
  padding: 5px;
  color: #ccc;
  border-top: 1px solid #999;
  cursor: pointer;
}
.suggestions > div:hover {
  background-color: rgb(90, 90, 90);
}

.buttons {
  margin: 1.2em 0;
}
.buttons a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.808);
  padding: 10px;  
  border-radius: 5px;
  background: rgba(219, 219, 219, 0.534);
  border: 1px solid rgba(0, 128, 0, 0);
}

.buttons a:hover {
  color: black;
  background: rgb(236, 236, 236);
  border: 1px solid rgba(128, 128, 128, 0.787);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15); 
}
footer {
  border-top: 1px solid rgb(204, 204, 204);
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  background: #dadada;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer div {
  height: 30px;
  display: flex;
  align-items: center;
}

footer div li {
  padding: 5px 10px;
  list-style: none; 
}
