@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro',Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
header ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  margin:0;
  padding:5px;
}
header ul li {
  margin-left: 15px;
}
header a {
  color: black;
  text-decoration: none;
  
}
header a:hover {
  text-decoration: underline;
  color: rgba(128, 128, 128, 0.808);
}
header img {
  border-radius: 50%;
}

main {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.search-container {
  width: 40%;
  margin: 1em auto;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.search-container:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15); 
}
.search-container input {
  background: transparent;
  border: 0;
  color: #fff;
  width: 250px;
  outline: none;
  line-height: 25px;
}
.search-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3px 0px;
}
.search-button {
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
}
.microphone-button { 
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
}
.microphone-button svg {
  width: 20px;
  height: 20px;  
}
.suggestions {  
  border-top: 0px solid red;
  display: none;
  margin: 0;
  padding: 0;
}
.suggestions h4 {
  border-top: 1px solid #ccc;
  margin: 5px 0;
  padding: 5px;
}
.suggestions > div {
  padding: 5px;
  color: #ccc;
  border-top: 1px solid #999;
  cursor: pointer;
}
.suggestions > div:hover {
  background-color: rgb(90, 90, 90);
}

.buttons {
  margin: 1.2em 0;
}
.buttons a {
  text-decoration: none;
  color: rgba(128, 128, 128, 0.808);
  padding: 10px;  
  border-radius: 5px;
  background: rgba(219, 219, 219, 0.534);
  border: 1px solid rgba(0, 128, 0, 0);
}

.buttons a:hover {
  color: black;
  background: rgb(236, 236, 236);
  border: 1px solid rgba(128, 128, 128, 0.787);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15); 
}
footer {
  border-top: 1px solid rgb(204, 204, 204);
  font-size: 0.7em;
  position: absolute;
  bottom: 0;
  background: #dadada;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer div {
  height: 30px;
  display: flex;
  align-items: center;
}

footer div li {
  padding: 5px 10px;
  list-style: none; 
}


header i {
  color: rgba(128, 128, 128, 0.808);
}
header i:hover {
  color: black;
  cursor: pointer;
}

.app-container {  
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25); 
  position: absolute;
  top: 40px;
  right: 15px;
  width: 250px;
  height: 80vh;
  overflow: hidden;
}
.app-grid {
  height: 100%;
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;
}
.app-grid img {
  max-width: 40px;  
}
.app-grid div:first-of-type img {
  border-radius: 50%;  
}
.app-grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5em 0.2em;
}
.hidden {
  display: none;
}

/* width */
::-webkit-scrollbar { 
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb { 
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

